# Python cache
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Logs and outputs
*.log
output_samples.txt

# Model files (optional)
*.pt
*.bin
